.employeeListContainer {
    
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 105px;
    min-height: 86.5vh;
    background-color: #f5f5f5;
    gap: 30px;
    
    
}




/* employe card css */

.employeeCardContainer {
    position:relative;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
    max-width: 750px;
    
}

.employeeImgContainer {
    height: 75px;
    width: 75px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    left: -10px;
    border-radius: 50%;

}

.employeeImg {
    height: 120%;
}

.employeeInfoAndBtnContainer {
    padding-left: 100px;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #DDDDDD;
    border-radius: 10px;
    gap: 20px;
}

.employeeInfoContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 50%;
}

.nameContainer {
    padding: 0 50% 0 40%; 
    width:100%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 50%;
}

.positionContainer {
    padding: 0 50% 0 40%; 
    width:100%;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 50%;
}