.employeeListContainer {
    
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 105px;
    min-height: 86.5vh;
    background-color: #f5f5f5;
    gap: 30px;
    
    
}


