.employeeRowContainer  {
  /* background-color: red; */
  
  padding: 5px 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  border: solid 2px white;
  align-items: center;
  
}

.employeeRowContainer p {
  width:120px;
  
}

.employeeId {
  padding-left: 15px;
}

.tableImgContainer {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.tableImg {
  
  width: 110%;
}

.employeeButtons {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.editButton {
  color: #55b6ff;
}

.deleteButton {
  color: tomato;
}
