.employeeRowContainer  {
  padding: 5px 0px 5px 15px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap:10px;
  border-top: solid 2px rgba(245, 245, 245, 0.808);
  align-items: center;
  
}

.employeeRowContainer:last-child {
  border-bottom: solid 2px white;
}

.employeeRowContainer:nth-child(2n){
  background-color: #b5a9b8;
}

.employeeRowContainer p {
  width:120px;
  
}

.employeeId {
  width: 70px !important;
}

.employeePosition {
  width: 160px !important;
}

.employeeEmail {
  width: 220px !important;
}

.employeeLocation {
  width: 180px !important;
}

.employeeDepartment {
  width: 130px !important;
}

.tableImgContainer {
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.tableImg {
  
  width: 110%;
}

.employeeButtons {
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.editButton {
  color: #285a80;
}

.editButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

.deleteButton {
  color: tomato;
}

.deleteButton:hover {
  opacity: 0.7;
  cursor: pointer;
}