.employeeListContainer {
  background-color: azure;
}

.employeeTableContainer {
  position: fixed;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: baseline;
  background-color: #d6ccd8;
  color: #2a2a2a;
  overflow-x: scroll;
  width: 90vw;
  max-width: 1400px;
  height: 80vh;
  border-radius: 10px;
  font-size: 1em;
}

.employeeHeadContainer {
  width: 100%;
  height: 50px;
  padding: 5px 15px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.employeeHeadContainer h3 {
  font-size: 1.2em;
  width: 120px;
}

.employeeIdHead {
  width: 70px !important;
}

.employeeDepartmentHead {
  width: 130px !important;
}

.employeeIdHead svg {
  font-size: 35px !important;
  color: #992b9c;
}

.employeeEmailHead {
  width: 220px !important;
}

.employeeLocationHead {
  width: 180px !important;
}

.employeeAddBtn {
  width: 80px !important;
}

.showFormButton:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* .employeeAddBtn svg {
  font-size: 35px !important;
  color: #992b9c;
}  */

.employeeAddBtn svg:hover {
  opacity: 0.7;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #9474ad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6c547e;
}

.employeeDepartmentHead {
  color: inherit;
}
