.employeeListContainer {
  background-color: azure;
}

.employeeTableContainer {
  position:fixed;
  top:55%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: baseline;
  background-color:  #d6ccd8;
  overflow-x: scroll;
  width: 90vw;
  max-width: 1400px;
  height:80vh;
  border-radius: 10px;
  font-size: 1em;
  
}

.employeeHeadContainer {

  width: 100%;
  height: 50px;
  padding: 5px 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap:10px;
  margin-bottom: 15px;
  
}

.employeeHeadContainer h3 {
  font-size: 1.2em;
  width: 120px;
}

.employeePhotoHead {
  width: 80px !important;
}

::-webkit-scrollbar {
  
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background:  #9474ad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:  #6c547e
}