.searchBarContainer {
    position:fixed;
    top: 55px;
    height: 55px;
    width: 100svw;
    background-color: #9474ad;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    font-size: x-large;
    z-index: 1000;
}

.searchByNameInput {
    border-radius: 0 10px 10px 0;
    border:none;
    padding: 2px 15px;
    background-color: #f5f5f5;
    width: clamp(170px, 60svw, 550px);
    height: 23px;
}

.searchBarSelector {
    color: #2A2A2A;
    border-radius: 10px 0 0 10px;
    border:none;
    padding: 2px 0px 2px 15px;
    background-color: #f5f5f5;
    border-right: solid #2A2A2A 1px;
    height: 23px;
    width: 110px;
}

