.divContenedor {
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #9474ad;
    height: 55px; 
    top: 0; 
    position:fixed ;
    z-index:100 ;
}

.divLogo {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
    overflow: hidden;

}
.imgLogo {
    height: 100%;
}

.hamburgerIcon {
    font-size: 20px;
    color:#2A2A2A;
    

}
.h1Title {
    font-size: 20px;
    color:#2A2A2A;
}