.formPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.darkBackground {
    background-color: black ;
    opacity: 0.3;
    position: fixed;
    z-index: 500;
    top:0px;
    bottom: 0px;
    width: 100vw;
}
.formPage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 200px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:75vw;
    height: 300px;
    max-width: 750px;
    /* max-height: 500px; */
    background-color: #d6d6d6 ;
    z-index: 1000;
    border-radius: 10px;
    gap:20px
        
}

.labelInput{
    display: flex;
    justify-content: center;
}

.doubleInputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.imgContainer {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.employeeImg {
    width: 100%;
}

.imgColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.formLabel {
    padding: 2px 10px;
}

.submitButton {
    width: 100px;
}

.formInput {
    border-radius: 10px;
}