.formPageContainer {
    display: flex;
    justify-content: center;
}

.formPage {
    padding: 200px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:90vw;
    max-width: 650px;
    
}

.labelInput{
    display: flex;
    justify-content: center;
}

.doubleInputs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}